<!--Comment Section-->
<div class="comments d-flex justify-content-center">
    <div class="card m-4 w-50">
        <div class="card-header">
            <h3>Comments</h3>
        </div>
        <div class="card-body">
            {{#each comments}}
            <p>{{this.comment_text}}</p>
            <p class="posted">~ Posted by {{this.user.username}} on 5/20/2022</p>
            <hr>
            {{/each}}
        </div>
    </div>
</div>