<div class="card m-4">
    <div class="card-header d-flex justify-content-between">
        <a href="/dashboard/edit/{{id}}" class="edit"><h3>{{post_title}}</h3></a>
        <p>Created on {{format_date createdAt}}</p>
    </div>
</div>