<!--Add A post-->
<section class="create-post d-flex flex-column m-5">
    <div class="card m-4">
        <div class="card-header">
            <h3>Create Post</h3>
        </div>
        <div class="card-body">
            <form id="add-post-form">
                <div class="form-group d-flex flex-column m-2">
                    <label>Title: </label>
                    <input type="text" id ="add-title">
                </div>
                <div class="form-group d-flex flex-column m-2">
                    <label>Content: </label>
                    <textarea class="text" id="add-text"></textarea>
                </div>
                <div class="form-group text-center m-2">
                    <button type="submit" class="buttons edit-button" id="create-post">Create Post</button>
                </div>
            </form>
        </div>
    </div>
</section> 

<script src="/js/addPost.js"></script>