<!--Dashboard Section-->
<section class="d-flex justify-content-between">
    <h2 class="dashboard m-5">Your Dashboard</h2>
    <a href="/dashboard/addpost" class="add"><button class="m-5 add-post"><i class="fa-solid fa-plus"></i>New Post</button></a>
</section>

<hr class="line">

<section class="blog-post d-flex flex-column m-5">
    {{#each posts as |post|}}
    <div class="card m-4">
        <div class="card-header d-flex justify-content-between">
            <a href="/dashboard/edit/{{post.id}}" class="edit"><h3>{{posts.post_title}}</h3></a>
            <p>{{format_date post.createdAt}}</p>
        </div>
    </div>
    {{/each}}
</section>