<h2 class="dashboard m-5">Your Dashboard</h2>
<hr class="line">

<section class="blog-post d-flex flex-column m-5">
    <div class="card m-4">
        <div class="card-header d-flex justify-content-between">
            <h3>Blog post</h3>
            <p>Posted by User on 5/20/2022</p>
        </div>
        </div>
    </div>

    <div class="card m-4">
        <div class="card-header d-flex justify-content-between">
            <h3>Blog post</h3>
            <p>Posted by User on 5/20/2022</p>
        </div>
    </div>
</section>