<!--Edit A post-->
<section class="edit-post d-flex flex-column m-5">
    <div class="card m-4">

        <!--Heading-->
        <div class="card-header">
            <h3>Edit Post</h3>
        </div>

        <!--Edit Post Form-->
        <div class="card-body">
            <form>

                <!--Edit Title Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Title: </label>
                    <input type="text">
                </div>

                <!--Edit Content Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Content: </label>
                    <textarea class="text"></textarea>
                </div>

                <!--Update/Delete Button-->
                <div class="form-group text-center m-2">
                    <button class="edit-button">Update Post</button>
                    <button class="edit-button">Delete Post</button>
                </div>
            </form>
        </div>
    </div>
</section>