<!--Sign Up Section-->
<section class="sign-up d-flex justify-content-center aligns-item-center mt-5">
    <div class="card w-50">

        <!--Heading-->
        <div class="card-header">
            <h3>Sign Up</h3>
        </div>

        <!--Form-->
        <div class="card-body">
            <form>

                <!--Username Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Username: </label>
                    <input type="text" placeholder="Enter your username">
                </div>

                <!--Password Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Password: </label>
                    <input type="password" placeholder="Enter your password">
                </div>

                <!--Sign In Button-->
                <div class="form-group text-center m-2">
                    <button>Create an Account</button>
                    <a href="">Have a account? Sign In!</a>
                </div>
            </form>
        </div>
    </div>
</section>