<!--Sign In Section-->
<section class="sign-in d-flex justify-content-center aligns-item-center">
    <div class="card mt-5 w-50">

        <!--Heading-->
        <div class="card-header">
            <h3>Sign In</h3>
        </div>

        <!--Form-->
        <div class="card-body">
            <form>

                <!--Username Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Username: </label>
                    <input type="text" placeholder="Enter your username">
                </div>

                <!--Password Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Password: </label>
                    <input type="password" placeholder="Enter your password">
                </div>

                <!--Sign Up Button-->
                <div class="form-group text-center m-2">
                    <button>Sign Up</button>
                    <a href="">Don't have a account? Sign Up!</a>
                </div>
            </form>
        </div>
    </div>
</section>