<!--Display the blog post that is clicked-->
{{> postinfo post}}

{{> commentinfo post.comments}}

<!--Add the comment section-->
<section class="sign-in d-flex justify-content-center aligns-item-center">
    <div class="card m-5 w-100">

        <!--Heading-->
        <div class="card-header">
            <h3>Add Comments</h3>
        </div>

        <!--Form-->
        <div class="card-body">
            <form id="add-comment-form">

                <!--Comment Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Comment: </label>
                    <textarea></textarea>
                </div>

                <!--Sign Up Button-->
                <div class="form-group text-center m-2">
                    <button type="submit" class="edit-button" id="create-comment">Create Comment</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/js/addComment.js"></script>