<!--Display the blog post that is clicked-->
{{> postinfo post}}

{{> commentinfo}}

<!--Add the comment section-->
<form class="comment-form">
    <textarea id="add-comment"></textarea>
    <button>Add Comment</button>
</form>

<script src="/js/comment.js"></script>