<!--Edit A post-->
<section class="edit-post d-flex flex-column m-5">
    <div class="card m-4">

        <!--Heading-->
        <div class="card-header">
            <h3>Edit Post</h3>
        </div>

        <!--Edit Post Form-->
        <div class="card-body">
            <form id="update-post-form">

                <!--Edit Title Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Title: </label>
                    <input type="text" value="{{post.post_title}}" id="update-title">
                </div>

                <!--Edit Content Section-->
                <div class="form-group d-flex flex-column m-2">
                    <label>Content: </label>
                    <textarea class="text" id="update-text">{{post.post_text}}</textarea>
                </div>

                <!--Update/Delete Button-->
                <div class="form-group text-center m-2">
                    <button type="submit" class="edit-button" id="update-post">Update Post</button>
                    <button type="button" class="edit-button" id="delete-post">Delete Post</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/js/updatePost.js"></script>
<script src="/js/deletePost.js"></script>